Kembrowski.Ovh.Azure/.vs/
Kembrowski.Ovh.AzureAPI/.vs/
Kembrowski.Ovh.Azure/bin/
Kembrowski.Ovh.AzureAPI/bin/
Kembrowski.Ovh.Azure/obj/
Kembrowski.Ovh.AzureAPI/obj/
Kembrowski.Ovh.Azure/packages/
Kembrowski.Ovh.AzureAPI/packages/
Kembrowski.Ovh.Enterprise/.vs/
Kembrowski.Ovh.Enterprise/bin/
Kembrowski.Ovh.Enterprise/obj/
Kembrowski.Ovh.Enterprise/packages/
